body {
    font-family: Arial, sans-serif;
    background-color: #f085fa91;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(177, 51, 235, 0.801);
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
    margin-top: 20px;
    margin-bottom: 50px;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(177, 51, 235, 0.801);
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
    
}

h1, h2 {
    color: #050505;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    width: 50%;
    padding: 8px;
    margin-top: 20px;
    border: 1px solid #494444;
    border-radius: 4px;
}

button {
    background-color: #4705e0;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3dc4ec;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remove-btn {
    background-color: #ffffff;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #f5f5f5;
}

#timer-display {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

#warning {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
